/*  ✪ https://zam.usite.pro/publ/1-1-0-5
    ✫ Версия 1.0.0
    © Copyright Плюшки для сайтов 2024
*/

/* ✦ --all-.. .all-c.. Цвета ✦ *//* #region */
/*  • --all-C            = color title, border, backgraund, box-shadow inset
    • --all-Ct           = текст послабей для текста

    • --all-bg-93        = backgraund (Прозрацный)

    • --all-br:          = border

    • --all-b-sh         = box-shadow
    • --all-t-sh         = text-shadow
*/
[class*="all-c0"] {/*0~> */
    --all-C: #f44;
}
[class*="all-c1"] {/*1~> */
    --all-C: #0b0;
}
[class*="all-c2"] {/*2~> */
    --all-C: #f90;
}
[class*="all-c3"] {/*3~> */
    --all-C: #dd0;
}
[class*="all-c4"] {/*4~> */
    --all-C: #08f;
}
[class*="all-c5"] {/*5~> */
    --all-C: #999;
}
[class*="all-c6"] {/*6~> */
    --all-C: #f0f;
}
[class*="all-c7"] {/*7~> */
    --all-C: #0bb;
}
[class*="all-c8"] {/*8~> Белый */
  --all-C: #333;
}
.temaT .all-c8[class*="zONas-"] {/* 9 Чёрный. Для белого фона */
  --all-C: #ccc;
}
/* ✦ --all- .all-c.. Цвета ✦ *//* #endregion */

.temaT [class*="zONas-"] {
  --bg: #012;  /* background Фон сайта */
  --Ct: #ccc;  /* текст */
}

[class*="zONas-"], [class*="zONas-"] > *:last-child, [class*="zONas-"] > *:last-child > * {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  outline: 0;
  box-sizing: border-box;
  line-height: 1.1;
  font-size: inherit;/* уравнивает все элементы */
}

/* ✦ Всплывающее окно (Настройки/Разное) .zONas-.. ✦ *//* #region */
/*[zonas="TR"] - На какую сторону сменили. `Для возврата`

  .zONasO  - Открываем
  .zONasOm - Открываем и Стрелка по центру кнопки:`button` (Когда маленькая кнопка)
*/
    /* ✦✦ ! ✦✦ *//* #region */
[class*="zONas-"] {
  --nas-br: var(--all-C, #999);/* border + стрелка */
  --nas-bg: var(--bg, #fff);/* background */
  --nas-C: var(--Ct, #000);/* color */
  display: inline-block;
}

[class*="zONas-"] > div:last-child {z-index: 12;
  --nas-LR: -8px;/* -8 Смешение окна Лево/Право */
  position: absolute;
  padding: 4px;
  width: max-content;/* По размеру содержимому */
  min-width: 50px;
  max-width: 80vw;/* Максимальная ширина подсказки */
  text-align: left;/* Максимальная ширина подсказки */
  color: var(--nas-C);
  background: var(--nas-bg);
  border: 1px solid var(--nas-br);
  box-shadow: inset 0 0 2px #000,0 0 9px #000;
    /* Открыть/Закрыть */
  display: none;/* Убераем выход за пределы окна */
  visibility: hidden;/* Убераем видемость для outline при нажатии TAB */
  opacity: 0;
  /* Установим перед открытием в .js zONas.C(). Для точного определения .offset()//Координаты left|top относительно окна + прокрутка */
  transform: translateY(-9px);
}

[class*="zONas-T"] > div:last-child:is([style*="left:"], [style*="right:"]) {/* При смещении окна, закругляем края */
  border-radius: 0 0 3px 3px;
}
[class*="zONas-B"] > div:last-child:is([style*="left:"], [style*="right:"]) {
  border-radius: 3px 3px 0 0;
}

[class*="zONas-"] > div:last-child > * {
  max-height: 45vh;
  overflow: auto;
}
    /* ✦✦ ! ✦✦ *//* #endregion */

    /* ✦✦ Сторона поивления + Рамка + стрелка ✦✦ *//* #region */
        /* ✦✦✦ ! ✦✦✦ *//* #region */
/* Стрелка на кнопке, Для центрования!!! */
[class*="zONas-"]::after {opacity: 0; z-index: 12;
  --nas-TBbr: calc(100% - 5px);/* Прилепим к окну стрелку */
  display: none;/* Важно! когда рядом с правым краем может увеличить страницу */
  content: '';
  position: absolute;
  pointer-events: none; /* Убераем видемость для курсора */
  width: 0;
  border: 9px solid #0000;
  transform: translateY(-9px);
}
        /* ✦✦✦ ! ✦✦✦ *//* #endregion */

        /* ✦✦✦ Верх(Лево/Право) .zONas-BL ✦✦✦ *//* #region */
            /* ✦✦✦✦ ! ✦✦✦✦ *//* #region */
[class*="zONas-T"] > div:last-child {
  bottom: calc(100% + 12px);
  border-top: 3px solid var(--nas-br);
  transform: translateY(9px);
}
[class*="zONas-T"]::after {
  bottom: var(--nas-TBbr);
  right: 5px;
  border-top-color: var(--nas-br);
  transform: translateY(9px);
}
            /* ✦✦✦✦ ! ✦✦✦✦ *//* #endregion */
        
.zONas-TL > div:last-child {/* Сторона верх с права на лево */
  right: var(--nas-LR);
  border-radius: 0 0 2px 7px;/* Скругления уголков рамки */
}

.zONas-TR > div:last-child {/* с лева на право */
  left: var(--nas-LR);
  border-radius: 0  0 7px 2px;
}
.zONas-TR::after {
  left: 5px;
  right: unset;
}
        /* ✦✦✦ Верх(Лево/Право) .zONas-BL ✦✦✦ *//* #endregion */

        /* ✦✦✦ Низ(Лево/Право) .zONas-BL ✦✦✦ *//* #region */
            /* ✦✦✦✦ ! ✦✦✦✦ *//* #region */
[class*="zONas-B"] > div:last-child {
  top: calc(100% + 12px);
  border-bottom: 3px solid var(--nas-br);
}
[class*="zONas-B"]::after {
  top: var(--nas-TBbr);
  right: 5px;
  border-bottom-color: var(--nas-br);
}
            /* ✦✦✦✦ ! ✦✦✦✦ *//* #endregion */
        
.zONas-BL > div:last-child {/* Сторона низ с права на лево */
  right: var(--nas-LR);
  border-radius: 7px 2px 0 0;/* Скругления уголков рамки */
}

.zONas-BR > div:last-child {/* С лева на право */
  left: var(--nas-LR);
  border-radius: 2px 7px 0 0;
}
.zONas-BR::after {
  left: 5px;
  right: unset;
}
        /* ✦✦✦ Низ(Лево/Право) .zONas-BL ✦✦✦ *//* #endregion */
    /* ✦✦ Сторона поивления + Рамка + стрелка ✦✦ *//* #endregion */

    /* ✦✦ Открываем/Стрелка по центру ✦✦ *//* #region */
[class*="zONasO"]::after {
  display: block;
  animation: zONasA .5s forwards;
}
@keyframes zONasA {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
[class*="zONasOm"]::after {/* Стрелка по центру кнопки:`button` (Когда маленькая кнопка) */
  left: 50%;
  right: unset;
  animation: zONasAm .5s forwards;
}
@keyframes zONasAm {
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

[class*="zONasO"] > div:last-child {/* Открываем */
  display: block;
  visibility: visible;/* Вернём видемость для outline при нажатии TAB */
  animation: zONasA .5s forwards;
}
[class*="zONasO"] > div:last-child > * {
  width:100%;
  height:100%;
}
    /* ✦✦ Открываем/Стрелка по центру ✦✦ *//* #endregion */
    
    /* ✦✦ Уменьшение стрелки/По ценру (При уменьшении стрелки) ✦✦ *//* #region */
[class*="zONasOmi"]::after {
  --nas-TBbr: calc(100% - 7px);/* Прилепим к окну стрелку (Увеличили длинну) */
}

[class*="zONasOmi"]:is(.zONas-BL,.zONas-TL)::after {
  /*left: 50%;*/
  border-top-width: 11px;/* Увеличим длинну */
  border-right: #0000;/* Уменьшение стрелки */
}
[class*="zONasOmi"]:is(.zONas-BR,.zONas-TR)::after {
  left: calc(50% + 5px);
  border-bottom-width: 11px;/* Увеличим длинну */
  border-left: #0000;/* Уменьшение стрелки */
}

@keyframes zONasAik {
  to {
    opacity: 1;
    /*transform: translate(50%, 0);*/
    transform: translateY(0);
  }
}
[class*="zONasOmik"]:is(.zONas-BL,.zONas-TL)::after {
  left: calc(-11px);
  animation: zONasAik .5s forwards;
}
[class*="zONasOmik"]:is(.zONas-BR,.zONas-TR)::after {
  left: calc(100% + 2px);
  animation: zONasAik .5s forwards;
}
    /* ✦✦ Уменьшение стрелки/По ценру (При уменьшении стрелки) ✦✦ *//* #endregion */
    
    /* ✦✦ .zONasL Загрузка... ✦✦ *//* #region */
.zONasL::before {z-index: 7;
  content: '';
  position: absolute;
  left: 0;
  bottom:0;
  margin:0 2px;
  width: 0;
  height: 1px;
  background: linear-gradient(90deg, #0000, red, #0000);
  animation: B-vse 1.15s cubic-bezier(.45,.05,.55,.95) infinite;
}
@keyframes B-vse {/* Линия */
    40% {
      width: calc(100% - 4px);
    }
    90% {
      left:unset;
      right: 0;
      width: 0;
    }
}
    /* ✦✦ .zONasL Загрузка... ✦✦ *//* #endregion */
/* ✦ Всплывающее окно (Настройки/Разное) .zONas-.. ✦ *//* #endregion */
