/*  ✪ https://zam.usite.pro/publ/...
    ✫ Версия 1.0.0
    © Copyright Плюшки для сайтов 2024
*/

#x, #x::after, #x::before,
#x *, #x *::after, #x *::before {/* Помогает интеграции */
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  outline: 0;
  box-sizing: border-box;
  line-height: 1.1;
  font-size: inherit;/* уравнивает все элементы */
}

new {
  font-size: 1rem;/* html */
}

/* ✦ ! ✦ *//* #region */

/* ✦ ! ✦ *//* #endregion */
    /* ✦✦ ! ✦✦ *//* #region */

    /* ✦✦ ! ✦✦ *//* #endregion */